.main_grid {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: grid;
    padding: 8px;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "left-sidebar main-view"
        "left-sidebar main-view";
    gap: 8px;
}