.main_asideContainer {
    height: 100%;
    max-width: 320px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-area: left-sidebar;
    
}

.navBar{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}