.banner {
    height: 360px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #121212;

}

.banner img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

}

.namesDrop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.123);
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    height: 50%;
    background: rgb(3,3,3);
    background: linear-gradient(0deg, rgba(3,3,3,1) 14%, rgba(41,48,40,0.8603816526610644) 50%, rgba(98, 102, 98, 0.171) 100%);
}