.banner {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: #121212;
}

.imageContainer {
    height: 100%;
    width: 100%;

}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;


}

.namesDrop {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgb(3, 3, 3) 5%, rgba(41, 48, 40, 0.397) 50%, rgba(98, 102, 98, 0.144) 100%);
}

.names {
    display: flex;
    flex-direction: column-reverse;
    padding: 8px;
    height: 100%;
}