.main_results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    overflow-y: scroll;
}

.active {
    opacity: 1;
}