.cardContainer {
    background: #181818;
    border-radius: 8px;
    width: 240px;
    padding: 8px 12px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
}

.imageContainer {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.imageContainer img {
    width: 240px;
    height: 240px;
    overflow: hidden;

}

.officialName {
    font-size: .876rem;
    color:#a7a7a7;
}

.commonName{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

    