.cardContainer {
    background: #181818;
    border-radius: 8px;
    width: 100%;
    padding:16px;
    margin: 8px;
    /* display: grid;
    grid-template-rows: 1fr .5fr; */
    /* flex-direction: column;
    justify-items: center; */
    gap: 8px;
}

.imageContainer {
    display: block;
    margin-bottom: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

svg{
    width: 100%;
}
image{
    width: 100%;
    height: 100%;
}


.officialName {
    font-size: .876rem;
    color:#a7a7a7;
}

.commonName{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

    