.main_bannerContainer {
    height: 360px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    position: relative;
}

.main_bannerContainer img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.main_bannerContainer h1{
    z-index: 1;
}

