.continentBoxContainer{
    container-type: inline-size;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 16px;
    max-width: 100%;
    min-height: 300px;
    min-width: var(--min-container-width);
}

.continentInfo{
    margin-bottom: 16px;
}