.main_CenterGrid {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    grid-area: main-view;
    overflow-y: scroll;
    background-color: rgba(59, 55, 55, 0.8603816526610644);
}